*,
*::after, *::before, 
*:before, *after{
    box-sizing: border-box;
}
body{
   /*width: 90%;*/
   
   border: 1px solid;
   
   
   
}
p{
    margin-left: calc(1%/3);
    width: 23%;
    display: inline-block;
    background-color: bisque;
    border: 1px solid;
    padding: 0.5rem;    
    vertical-align: top;
    
    
}