body{
    height: 100vh;
}
div{
    padding: 2rem;
    background: salmon;
    width: 50%;
    height: 20%;
    position: absolute;
    //position: relative;
    //left: 25%;
    //top: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 

}