 @import 'reset.scss';

 $deepblue: rgb(3, 62, 129);
 $blancoRoto: rgb(216, 212, 212);
 nav{
    background: $deepblue;
    position: relative;
    
    ul{
        list-style: none;
        &::after{
            content:"";
            display: block;
            clear: both;
        }
    }
    li{
        float: left;
        
        
    }
    a{
        color: $blancoRoto;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'roboto';
        text-decoration: none;
        padding: 2rem;
        
    }
}  