*{
    box-sizing: border-box;
}
header h1{
    height: 15rem; /*se le pone al h1 la imágen como background*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(178, 243, 240);
    background-image: url("./assets/Walt-Disney-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    
}
header h1 span{
    display: none; /*Se pone display none para ocultarlo de la página pero que aparezca en los indexadores*/
}
