*{
    box-sizing: border-box;
}
div {height: 4rem;
    width: 4rem;
    float:left;
    margin: 1rem;
    border: solid 1px black;
    background: url(./assets/social-icons.png);
}
div#icono1 {background-position: 0px 0px; /*Icono RSS*/
}
div#icono2 {background-position: 0px 4rem; /* x px y px - Icono Facebook*/ /*tAMBIÉN SE PUEDEN PONER EN REMS*/
}
div#icono3 {background-position: 128px 64px; /* x px y px - Icono FR*/
}
div#icono4 {background-position: 192px 64px;

}
/* background-position: 0px 0px ->  Icono RSS
   background-position: 256px 128px -> Icono RSS
   background-position: 0px 64px -> Icono Facebook
   background-position: 256px 64px -> Icono Facebook
   background-position: 64px 0px -> Icono SV
   background-position: 64px 128px -> Icono SV
   background-position: 64px 64px -> Icono Q
 */		
