@media screen and (min-width: 380px){
    .nube1{
        left: 12%;
    }
    @keyframes nubiz{
        0%{
            left: -20%
        }
        100%{
            left: 12%;
        }
    }
}

@media screen and (min-width: 500px){
    footer{
        li{
           padding: 1rem 1rem; 
        }
        a{
            font-size: 1rem;
        }
    }
}