@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@font-face { font-family: 'Rock Salt';
                        src: url('../assets/RockSalt-Regular.ttf')}
*,
*::after, *::before, 
*:after, *:before{
    box-sizing: border-box;
}
body{
   
   height: 2000px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*'Segoe Ui' está en tre comillas por que tiene espacio y de esta manera le decimos a la máquina donde empieza y donde termina*/
    /*son las fuentes que traen todas las maquinas por defecto*/
}
h2{
    font-family: 'Homemade Apple', cursive;
    text-transform: uppercase;
}
p:nth-of-type(1){
    font-family: roboto, sans-serif; /*se pone otra fuente como alternativa*/
    font-weight: 100;
}
p:nth-of-type(2){

    font-family: 'Raleway Dots';
    font-size: 2rem;
    font-style: italic;
}
p:nth-of-type(3){
    font-family: 'Rock Salt';
    font-size: 1.5rem;
    
}
p:nth-of-type(4){
    font-family: BeonRegular;
    font-size: 2.5rem;
}
.icono{
  font-size: 6rem;
  color: tomato;
  position: relative;
  left: 48%;  
  top: 100px;
  cursor: pointer;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);
  border-radius: 50%;
  background: aquamarine;
  

} 
