@media screen and (min-width:251px){
    footer{
        ul{
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: 480px){
    .geo{
        .wrapper{
            .fotos{
                height: 25rem;
            }
        }
    }
    .container2{
        height: 100vh;
    }


    .video{
        height: 90vh;
        .wiki{
            left: 35%;
        }
        .vid{
            height: 50vh;
        }
    }
    .economi{
        .franco{
            bottom: 5rem;
        }
    }
  
    footer{
      li{
          padding: 1rem 0.5rem;
      }
      a{
          font-size: 1.2rem;
      }
  }
}


